<a id="comments"></a>
<br>
<div class="card">
	<div class="card-header">
		{{ 'Comments'|trans }}</div>

	<div class="card-body">
		{% include 'shared/messages.html.twig' %}

		{% if post.comments %}
			<table class="table">
				<tbody>
					{% for comment in post.comments %}
						{% if comment.approvedAt or app.user 
          and (comment.user.id == app.user.id
          or is_granted('ROLE_ADMIN')) %}
							<tr{{comment.approvedAt==null?'class="warning"'}}>
								<td>
									<div>
										<strong>{{ comment.user.name|e }}</strong>
										<small class="text-muted">&minus;
											{{ comment.createdAt|date('d/m/Y H:i') }}</small>
										{% if comment.approvedAt == null%}
											<span class="badge badge-danger">
												{{ 'Pending Approval'|trans }}</span>
										{% endif %}
									</div>
									<div>{{ comment.text|e }}</div>
								</td>
								<td>
									{% if is_granted('ROLE_ADMIN') %}
										{% if comment.approvedAt == null%}
											<a class="btn btn-sm btn-primary" style="margin-bottom: 2px; width: 100%" onclick="return confirm('{{ 'Approve comment?'|trans }}')" href="{{ path('admin_comment_approve', {commentId: comment.id, postId: post.id}) }}">{{ 'Approve'|trans }}</a>
											<br>
										{% endif %}

										<a class="btn btn-sm btn-danger" style="margin-bottom: 2px; width: 100%" onclick="return confirm('{{ 'Delete comment?'|trans }}')" href="{{ path('admin_comment_delete', {commentId: comment.id, postId: post.id}) }}">{{ 'Delete'|trans }}</a>
									{% endif %}
								</td>
							</tr>
						{% endif %}
					{% endfor %}
				</tbody>
			</table>
		{% endif %}
	</div>

	<div class="card-footer">
		{% if app.user %}
			{{ form_start(commentForm, {'action': path('comment_create', {'id': post.id} )}) }}
			{{ form_row(commentForm.text) }}
			<div class="form-group row">
				<div class="col-md-6">
					{{ form_widget(commentForm.submit) }}
				</div>
				<div class="col-md-6">
					{{ form_widget(commentForm.reset) }}
				</div>
			</div>
			{{ form_end(commentForm) }}
		{% else %}
			<br>
			<p class="text-center">
				{{ 'You need to login to add your comments!'|trans }}
			</p>
		{% endif %}
	</div>
</div>
<br>